/*.image{
	width: 400px;
	max-width: 100%;
	height: auto;
}*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main{
	display: block;
}




@media screen and (min-width: 900px){
	.image{
		width: 24%;
	}
}

@media screen and (max-width: 899px) and (min-width: 500px){
	.image{
		width: 49%;
	}
}

@media screen and (max-width: 499px){
	.image{
		width: 100%;
	}
}
